<div [@routerTransition]>

    <h2 class="text-muted"><span> <mat-icon class="header-icon">dashboard</mat-icon></span> Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <mat-card class="card-custom">
                <div class="card-row">
                    <div class="button-circle">
                        <button mat-fab class="button-style" color="primary"><mat-icon class="material-icons-custom">account_box</mat-icon></button>
                    </div>
                    <div class="button-rectangle">
                        <button mat-raised-button color="primary">New Admission</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <mat-card class="card-custom">
                <div class="card-row">
                    <div class="button-circle">
                        <button mat-fab class="bt-color-2 button-style"><mat-icon class="material-icons-custom">monetization_on</mat-icon></button>
                    </div>
                    <div class="button-rectangle">
                        <button mat-raised-button class="bt-color-2">Manage Fees</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <mat-card class="card-custom">
                <div class="card-row">
                    <div class="button-circle">
                        <button mat-fab class="button-style" color="warn"><mat-icon class="material-icons-custom">insert_chart</mat-icon></button>
                    </div>
                    <div class="button-rectangle">
                        <button mat-raised-button color="warn">Statistics</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <mat-card class="card-custom">
                <div class="card-row">
                    <div class="button-circle">
                        <button mat-fab class="bt-color-4 button-style"><mat-icon class="material-icons-custom">view_list</mat-icon></button>
                    </div>
                    <div class="button-rectangle">
                        <button mat-raised-button class="bt-color-4">Students Records</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-card class="card1">
                <mat-card-title class="card-title-custom-1"> Total Students </mat-card-title>
                <mat-card-subtitle class="card-subtitle-custom">( Total Students from all class )</mat-card-subtitle>
                <mat-card-content>
                    <mat-icon>wc</mat-icon>
                    <span class="card-data"><h3> 100 </h3>  </span>
                </mat-card-content>
                <button mat-button>Click here for more details</button>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-card class="card2">
                <mat-card-title class="card-title-custom-2"> Total Fees </mat-card-title>
                <mat-card-subtitle class="card-subtitle-custom">( This month total fee collection )</mat-card-subtitle>
                <mat-card-content>
                    <mat-icon>monetization_on</mat-icon>
                    <span class="card-data"><h3>5600</h3> </span>
                </mat-card-content>
                <button mat-button>Click here for more details</button>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-card class="card4">
                <mat-card-title class="card-title-custom-3"> Paid Status </mat-card-title>
                <mat-card-subtitle class="card-subtitle-custom">( Paid Students/Total Students )</mat-card-subtitle>
                <mat-card-content>
                    <mat-icon>attach_money</mat-icon>
                    <span class="card-data"><h3> 100/356 </h3>  </span>
                </mat-card-content>
                <button mat-button>Click here for more details</button>
            </mat-card>
        </div>

        <hr />
    </div>